<%- include('../layouts/header') %>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h1 class="text-center">DATA-DATA USER GAME</h1><br>
            <a href="/create" class="btn btn-primary">Tambah Data</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                  </tr>
                </thead>                
                <tbody>
                <% usergames.forEach(i => { %>
                  <tr>
                    <td><%= i.id %></td>
                    <td><%= i.username %></td>
                  </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %> 